<div class="container">
  <main>
    <div class="py-5 text-center">
      <!--      <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
      <h2>Welcome to Fieldtracks!</h2>
      <!--      <p class="lead">-->
      <!--        Setting up server.-->
      <!--      </p>-->
    </div>
    <app-settings>
      <ng-container note>
        <h4 class="mb-3">Initial Setup</h4>
        <div class="row g-3">
          <p>You have booted this Fieldtracks-instance for the very first time.
            In order to get system up and running, you need to set a few properties.
            The properties are used for the both the server and ESP32-devices, also known as stones.</p>
        </div>
      </ng-container>

    </app-settings>

  </main>
</div>
