<app-header-navbar [title]="'Install Stone'" > </app-header-navbar>

    <form [formGroup]="installerForm" (ngSubmit)="onSubmitInstallerForm()" #f="ngForm">

    <h4>Please plug-in an ESP32-device for installing the JellingStone firmware.</h4>


    <h3>WLAN configuration</h3>
    JellingStone utilizes as dedicated on-site WLAN for submitting scan results. <br />

    <mat-form-field>
      <mat-label>Network Name (SSID)</mat-label>
      <input matInput formControlName="wlanSsid">
      <!-- <mat-hint>No need for changes.</mat-hint> -->
    </mat-form-field> &nbsp;

    <mat-form-field>
      <mat-label>Password (PSK)</mat-label>
      <input matInput type="password" formControlName="wlanPsk">
      <!-- <mat-hint>No need for changes.</mat-hint> -->
    </mat-form-field>

    <br />  All devices use identical settings.


    <h4>MQTT configuration</h4>
    <mat-form-field>
        <mat-label>MQTT URL</mat-label>
        <input matInput formControlName="mqttUrl">
        <mat-hint>Typically: Leave as it is.</mat-hint>
      </mat-form-field> &nbsp;
      <mat-form-field>
        <mat-label>MQTT Username</mat-label>
        <input matInput formControlName="mqttUser">
        <mat-hint>Typically: Leave as it is.</mat-hint>
      </mat-form-field> &nbsp;
      <mat-form-field>
        <mat-label>MQTT Password</mat-label>
        <input matInput type="password"  formControlName="mqttPwd">
        <mat-hint>Typically: Leave as it is.</mat-hint>
      </mat-form-field>

    </form>


<!--      <mat-grid-list>-->
<!--        <mat-grid-tile colspan="6">-->
<!--          <mat-label></mat-label>-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="6">-->
<!--          <div style="position: absolute; left: 0;">-->
<!--            <h2>-->
<!--              Wireless Local Network (WLAN) configuration.-->
<!--            </h2>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="3">-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="3">-->
<!--        </mat-grid-tile>-->
<!--          <mat-grid-tile colspan="6">-->
<!--            <div style="position: absolute; left: 0;">-->
<!--          <h2>-->
<!--            Middleware / Broker (MQTT) configuration.-->
<!--          </h2>-->
<!--            </div>-->
<!--          </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="2">-->
<!--          <mat-form-field>-->
<!--            <mat-label>MQTT URL</mat-label>-->
<!--            <input matInput formControlName="mqttUrl">-->
<!--            <mat-hint>Typically: Leave as it is.</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="2">-->
<!--          <mat-form-field>-->
<!--            <mat-label>MQTT Username</mat-label>-->
<!--            <input matInput formControlName="mqttUser">-->
<!--            <mat-hint>Typically: Leave as it is.</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </mat-grid-tile>-->
<!--        <mat-grid-tile colspan="2">-->
<!--          <mat-form-field>-->
<!--            <mat-label>MQTT Password</mat-label>-->
<!--            <input matInput type="password"  formControlName="mqttPwd">-->
<!--            <mat-hint>Typically: Leave as it is.</mat-hint>-->
<!--          </mat-form-field>-->
<!--        </mat-grid-tile>-->

<!--      </mat-grid-list>-->


<!--      <mat-form-field>-->
<!--        <input matInput placeholder="Username" formControlName="username">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <input matInput placeholder="Password" formControlName="password" type="password" name="password">-->
<!--      </mat-form-field>-->
<!--      <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Login</button>-->


