<section id="login-section" *ngIf="serverStatus | async as status">
  <h2 class="mat-h2" i18n *ngIf="status.status !== 'INSTALLER'">Login</h2>
  <h2 class="mat-h2" i18n *ngIf="status.status === 'INSTALLER'">Installing Fieldtracks</h2>

  <mat-spinner *ngIf="showSpinner" style="margin:0 auto;" mode="indeterminate"></mat-spinner>

      <mat-error *ngIf="status.status === 'UNREACHABLE'">
              Middleware is unreachable <br />{{ status.error?.statusText }} (HTTP-{{status.error?.status}})
      </mat-error>
    <mat-error *ngIf="status.status === 'DISCONNECTED'">
      Not connected to MQTT <br /> Check middleware-log for details
    </mat-error>
    <div *ngIf="status.status === 'RUNNING'">
        <form [formGroup]="loginForm" (ngSubmit)="login()" #f="ngForm" *ngIf="!showSpinner" >
          <p *ngIf="connectionProblem">
            <mat-error >Invalid credentials</mat-error>
          </p>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" name="password">
          </mat-form-field>
          <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary" >Login</button>
        </form>
    </div>
    <div *ngIf="status.status === 'INSTALLER'">
        <form [formGroup]="installerForm" (ngSubmit)="register()" #f="ngForm" *ngIf="!showSpinner" >
          <h3>Create a user to continue</h3>

          <p *ngIf="installerForm.errors?.['noMatch'] && (installerForm.touched || installerForm.dirty)" class="cross-validation-error-message alert alert-danger">
            <mat-error >Password does not match confirmation</mat-error>
          </p>

          <mat-form-field>
            <input matInput placeholder="Username" readonly formControlName="username" name="username" >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" name="password">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Confirm Password" formControlName="passwordConfirmation" type="password" name="passwordConfirm" >
          </mat-form-field>

          <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary" >Login</button>
        </form>
    </div>

</section>
