<app-header-navbar></app-header-navbar>


<div class="login-box" *ngIf="serverStatus | async as status">
  <div class="login-container">

    <ng-container *ngIf="status.status !== 'INSTALLER'">
      <h2 class="mat-h2" i18n >Please login</h2>
    </ng-container>

    <ng-container *ngIf="status.status === 'INSTALLER'">
      <h2 class="mat-h2" i18n *ngIf="status.status === 'INSTALLER'">Installing Fieldtracks</h2>
      <h3 class="mat-h3" *ngIf="status.status === 'INSTALLER'">Create a user to continue</h3>
    </ng-container>

    <mat-spinner *ngIf="showSpinner" style="margin:0 auto;" mode="indeterminate"></mat-spinner>

      <!-- Error states -->
      <mat-error *ngIf="status.status === 'UNREACHABLE'">
        Middleware is unreachable <br/>{{ status.error?.statusText }} (HTTP-{{status.error?.status}})
      </mat-error>
      <mat-error *ngIf="status.status === 'DISCONNECTED'">
        Not connected to MQTT <br/> Check middleware-log for details
      </mat-error>
  </div>

      <!-- Login-Form - middleware is running -->
      <ng-container *ngIf="status.status === 'RUNNING' ">
        <form class="login-container" [formGroup]="loginForm" (ngSubmit)="onLoginformSubmit()" #f="ngForm" *ngIf="!showSpinner">
          <p *ngIf="connectionProblem">
            <mat-error>Invalid credentials</mat-error>
          </p>
          <mat-form-field>
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" name="password">
          </mat-form-field>
          <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Login</button>
        </form>
      </ng-container>


      <!-- Installer-Form - middleware is not set up, yet. -->
      <ng-container *ngIf="status.status === 'INSTALLER'">
        <form [formGroup]="installerForm" (ngSubmit)="onRegisterformSubmit()" #f="ngForm" *ngIf="!showSpinner" class="login-container">
          <mat-form-field>
            <input matInput placeholder="Username" readonly formControlName="username" name="username">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" name="password">
          </mat-form-field>
          <mat-form-field>
            <input [errorStateMatcher]="isNotConfirmed" matInput placeholder="Confirm Password"
                   formControlName="passwordConfirmation" type="password" name="passwordConfirm">
            <mat-error *ngIf="installerForm.errors?.['noMatch']">Passwords do not match</mat-error>
          </mat-form-field>
          <button type="submit" [disabled]="f.invalid !== false" mat-raised-button color="primary">Login</button>
        </form>
      </ng-container>


  </div>

