<div class="container">
  <main>
    <div class="py-5 text-center">
<!--      <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
      <h2>Welcome to Fieldtracks!</h2>
<!--      <p class="lead">-->
<!--        Setting up server.-->
<!--      </p>-->
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          Initial Setup
        </h4>

        <p>You have booted this Fieldtracks-instance for the very first time.
        In order to get system up and running, you need to set a few properties.
        </p>

        <p>The properties are used for the both the server and ESP32-devices, also known as stones.</p>

        <p>The <i>Public Hostname</i> is the DNS-Name of your server. It has to be set according to your TLS-certificate.
        It used by the user-interface and stones for establishing connections.</p>

        <p>The <i>Wireless Network</i> configuration is transferred to stones when flashing the firmware.
          This is the on-site wireless network.</p>

        <p>You can set Bluetooth parameters in the <i>BLE Beacons</i> section. Typically, you can leave it untouched.
          The first stone installation defaults to the stone's start-number. Smartphone beacons start at the smartphone's
          start number respectively. Beacon numbers are unique and sequential.
          When utilizing other beacons than stones (e.g. smartphones), reserving a dedicated block for stones (e.g. start = 512) is a good idea.
          Change this, if you already have beacons utilizing this <i>Network</i>.
          The namespace is derived from the public hostname (first 10 byte).
        </p>


      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Server Configuration</h4>

        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-12">
              <label for="hostname" class="form-label">Public Hostname</label>
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="hostname" value="dev.fieldtracks.org" required>
                <div class="invalid-feedback">
                  A hostname must be set
                </div>
              </div>
              <div id="hostnameHelp" class="form-text">
                DNS (for TLS) - no IP-address
              </div>
            </div>
            <div class="col-sm-6">
              <label for="password" class="form-label">Password for admin user</label>
              <input type="password" class="form-control" id="password" placeholder="" value="" required>
              <div class="invalid-feedback">
                An admin password is required
              </div>
              <div id="passwordHelpInline" class="form-text">
              Login: admin | 8-20 characters
              </div>
            </div>

            <div class="col-sm-6">
              <label for="passwordConfirm" class="form-label">Password Confirmation</label>
              <input type="password" class="form-control" id="passwordConfirm" placeholder="" value="" required>
              <div class="invalid-feedback">
                Please confirm the password
              </div>
              <span id="passwordConfirmHelpInline" class="form-text">
              Repeat password
              </span>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">Wireless Network (WLAN)</h4>

            <div class="col-sm-6">
              <label for="ssid" class="form-label">Network Name</label>
              <input type="text" class="form-control" id="ssid" placeholder="" value="">
              <div class="invalid-feedback">
                An SSID must be set
              </div>
              <div id="networkHelpInline" class="form-text">
                SSID
              </div>
            </div>

            <div class="col-sm-6">
              <label for="wlanPSK" class="form-label">Password</label>
              <input type="password" class="form-control" id="wlanPSK" placeholder="" value="">
              <span id="wlanPSKHelpInline" class="form-text">
                WPA-PSK | Leave blank, if no password is required.
              </span>
            </div>

            <hr class="my-4">

            <h4 class="mb-3">BLE Beacons</h4>

            <div class="col-sm-4">
              <label for="instanceId" class="form-label">Network / Namespace-ID</label>
              <input type="text" class="form-control" id="instanceId" placeholder="" maxlength="10" value="dev.fieldt">
              <div class="invalid-feedback">
                A namespace id must be set
              </div>
              <div id="instanceIdHelpInline" class="form-text">
                10 byte | Default: Public Hostname
              </div>
            </div>

            <div class="col-sm-4">
              <label for="phoneStart" class="form-label">Start (Smartphone)</label>
              <input type="text" class="form-control" id="phoneStart" placeholder="" maxlength="6" value="1">
              <span id="phoneStartHelp" class="form-text">
               First smartphone beacon. 6 byte, i.e. smaller than 65535.
              </span>
            </div>


            <div class="col-sm-4">
              <label for="stoneStart" class="form-label">Start (Stone)</label>
              <input type="text" class="form-control" id="stoneStart" placeholder="" maxlength="6" value="512">
              <span id="stoneStartHelp" class="form-text">
               Default for the first stone. 6 byte, i.e. smaller than 65535.
              </span>
            </div>


          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Save and Continue</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
